<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><script defer src="bundle.js"></script></head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure corrupti omnis alias iusto nisi debitis expedita, esse recusandae vitae reprehenderit ea, repellat enim, ipsa tenetur ipsum totam. Aliquam, accusantium aliquid.</p>
  </body>
</html>